.tile-delete-form-container {
    margin-left: 20%;
}

.tile-delete-form-tile-text {
    display: flex;
    justify-content: center;
}

.tile-delete-form-message {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.tile-delete-form-yes-cancel-group {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
}