


.tile-edit-form-container {
    /* background-color: red; */
    margin-left: 20%;
}

.tile-edit-form-text-title{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.tile-edit-form-text-title-container{
    margin-top: 4%;
}

.tile-edit-form-tile-name-box {
    /* background-color: aqua; */
    width: 100%;
}

.tile-edit-form-status-box {
    width: 100%;
    /* background-color: brown; */
    right: 3%;
}

.tile-edit-form-enter-cancel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 3%;
}